In [9]:
import pandas as pd
import uuid

path = '../local-info/dataset/'
path_to_save = '../dataset'

In [10]:
ls ../local-info/dataset

readme.md  Test.csv  Train.csv  Valid.csv

# Train Dataset

In [11]:
train = pd.read_csv(path+'Train.csv')

train.head(2)

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0

In [13]:
#adding UUID

def get_uuid(_):
    return uuid.uuid4().hex

train['ID'] = train['text'].apply(get_uuid)

train.head(2)

,text,label,ID
0,I grew up (b. 1965) watching and loving the Th...,0,b6f09f87d0a94e928722319748ec87af
1,"When I put this movie in my DVD player, and sa...",0,c477e2fafcd047d4a3b8cc4a86a8b5f4

In [14]:
train_df = train[['ID', 'text']]
train_gt = train[['ID', 'label']]

train_df.to_csv(path_to_save + '/train/Train-Data.csv', index=False)
train_gt.to_csv(path_to_save + '/train/Train-GT.csv', index=False)

# Validation Dataset

In [16]:
valid = pd.read_csv(path + "/Valid.csv")

valid.head(2)

                                                text  label
0  It's been about 14 years since Sharon Stone aw...      0
1  someone needed to make a car payment... this i...      0

In [17]:
valid['ID'] = valid['text'].apply(get_uuid)

valid.head(2)

,text,label,ID
0,It's been about 14 years since Sharon Stone aw...,0,6c507ab837ba481cbbda0faf6e91203e
1,someone needed to make a car payment... this i...,0,5d2c2b525360491a9bff9134269b2817

In [18]:
valid_df = valid[['ID', 'text']]
valid_gt = valid[['ID', 'label']]

valid_df.to_csv(path_to_save + '/validation/Validation-Data.csv', index=False)
valid_gt.to_csv(path_to_save + '/validation/Validation-GT.csv', index=False)

# Phase2: Test Dataset

In [19]:
test = pd.read_csv(path + "/Test.csv")

test.head(2)

                                                text  label
0  I always wrote this series off as being a comp...      0
1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0

In [20]:
test['ID'] = test['text'].apply(get_uuid)

test.head(2)

,text,label,ID
0,I always wrote this series off as being a comp...,0,e52ef7b35e4a4dd0a100a6f390fda273
1,1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...,0,0362b11f85ae46e198a21e2369c9688b

In [21]:
test_df = test[['ID', 'text']]
test_gt = test[['ID', 'label']]

test_df.to_csv(path_to_save + '/test/Test-Data.csv', index=False)
test_gt.to_csv(path_to_save + '/test/Validation-GT.csv', index=False)