# Baseline Model For ML992 Competition

-----

In [2]:
!ls ../dataset

test  train  validation

In [3]:
!ls ../dataset/train

Train-Data.csv	Train-GT.csv

# 1. Loading Train and Test-sets

In [5]:
#Loading Train Set
import pandas as pd

train_data = pd.read_csv("../dataset/train/Train-Data.csv")
display(train_data.head(2))

train_gt = pd.read_csv("../dataset/train/Train-GT.csv")
display(train_gt.head(2))

,ID,text
0,b6f09f87d0a94e928722319748ec87af,I grew up (b. 1965) watching and loving the Th...
1,c477e2fafcd047d4a3b8cc4a86a8b5f4,"When I put this movie in my DVD player, and sa..."

                                 ID  label
0  b6f09f87d0a94e928722319748ec87af      0
1  c477e2fafcd047d4a3b8cc4a86a8b5f4      0

In [8]:
#Loading Validation set (Test-set 1)
test_data1 = pd.read_csv("../dataset/validation/Validation-Data.csv")
display(test_data1.head(2))

,ID,text
0,6c507ab837ba481cbbda0faf6e91203e,It's been about 14 years since Sharon Stone aw...
1,5d2c2b525360491a9bff9134269b2817,someone needed to make a car payment... this i...

In [9]:
X_train, X_test1 = train_data['text'].tolist(), test_data1['text'].tolist()

y_train = train_gt['label'].tolist()

# 2. RandomModel Predictin

In [18]:
# If you are going to use ML model do the train a model and use that model as a prediction of your train set
import numpy as np

Model = lambda X: 1 if (np.random.rand() >= 0.5) else 0

test1_pred = [Model(_) for _ in X_test1]

# 3. Submit Prediction

In [21]:
# Creat Output and Submit

pred_df = pd.DataFrame(data={"Pred":test1_pred, "ID":test_data1['ID'].tolist()})

display(pred_df.head(2))

   Pred                                ID
0     1  6c507ab837ba481cbbda0faf6e91203e
1     1  5d2c2b525360491a9bff9134269b2817

In [24]:
# Please Use Correct Naming       
# <YOUR TEAM NAME>__<TITLE>__<DATASET-NAME>.csv

path = "../submissions/organizer__Random(Baseline)__Test1.csv"

pred_df.to_csv(path, index=False)